<br>
<div class="container " >
<h1> 메인 페이지 수민짱</h1>
</div>
<br>
      <div class="container " >
            
            <div class="col s6 offset-s6">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"  onclick="location.href='/test'">
              자유게시판
            </button>
       
         
            <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="location.href='/lotto'">
              로또게시판
            </button>
            </div>
      </div>
